{{ define "content" }}
    <div class="row">
        <div class="col-12">
            <h1>ToDo List</h1>
            <div class="row mb-3">
                <div class="col-3">
                    <a class="btn btn-success" href="/create">New Task</a>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Operation</th>
                    </tr>
                </thead>
                <tbody>
                {{ range . }}
                <tr>
                    <th  class="align-middle" scope="row">{{ .ID }}</th>
                    <td class="align-middle"><a href="/detail/{{ .ID }}">{{ .Description }}</a></td>
                    <td class="align-middle">
                        {{ if .IsComplete }}
                        complete
                        {{ else }}
                        not yet
                        {{ end }}
                    </td>
                    <td class="align-middle">
                        <form action="/delete" method="POST">
                            <input type="hidden" name="id" value="{{ .ID }}">
                            <button type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
                {{ else }}
                <th rowspan="4">no data</th>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>


{{ end }}